<html>
    <head>
        <title>Customer Orders</title>
        <link rel='stylesheet' href={{url_for('static', filename='/index.css')}}>
    </head>
    <body>
        <h1><u>Customer Order List</u></h1>
        
        {% for order in orders %}
        <div id = 'orders'>
            <a href="/orders/{{orders.index(order) + 1}}">
                <h3>Order number: {{orders.index(order) + 1}}</h3>
            </a>
            <h4>{{order.order_date}}</h4>
            </p>
        </div>
        {% endfor %}
    </body>
</html>